apiVersion: v1
kind: Service
metadata:
  name: demo-app
spec:
  selector:
    app: demo-app
  type: NodePort
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080  # Explicit mapping to host port
